<!DOCTYPE html>
{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Precios</h1>
    <p class="lead">Promocione su sitio con cada mensaje que envíe con una dirección de correo electrónico que coincida con su sitio web.</p>
  </div>

  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Basic</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$7 <small class="text-muted">/ mes</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>10 usuarios</li>
            <li>2 GB de almacenamiento</li>
            <li>Email soporte</li>
            <li>Centro de ayuda 24/7</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Pro</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$25 <small class="text-muted">/ mes</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>20 usuarios</li>
            <li>10 GB de almacenamiento</li>
            <li>Prioridad para soporte de Email</li>
            <li>Centro de ayuda 24/7</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </div>
      </div>
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Enterprise</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">$30 <small class="text-muted">/ mes</small></h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>30 usuarios</li>
            <li>15 GB de almacenamiento</li>
            <li>Soportea telefono y email</li>
            <li>Centro de ayuda 24/7</li>
          </ul>
          <button type="button" class="btn btn-lg btn-block btn-primary">Get started</button>
        </div>
      </div>
    </div>

  </div>
  {% endblock%}