{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
  <h1 class="display-4">Servicio de Email Corpotativo</h1>
  <h2 class="display-4">La entrada de tu producto al mundo digital</h2>
  <p class="lead">¿No hay sitio web? No hay problema.
    El correo electrónico de Tecno Inter funciona con cualquier nombre de dominio que posea, incluso si está registrado, alojado o estacionado en otro lugar.</p>
    <p class="lead">
      Arrastre y suelte mensajes entre carpetas en el correo web, configure filtros de entrega automática y enrute mensajes usando alias personalizados.</p>
      <h2 class="t-center t-7 t-bold m-bottom-3">¿Necesito ayuda?</h2>
				<p class="t-center t-2 m-bottom-1">Ya sea que esté atascado o simplemente desee algunos consejos sobre dónde comenzar, consulte a nuestros expertos en cualquier momento.</p>
				<p class="t-center t-0 m-bottom-2"><strong>Chat de atención al cliente </strong>: Todos los Dias 5:30AM–9:30PM PT</p>
      <hr class="my-4">
  
</div>

{% endblock%}
